name: Publish release

on:
  push:
    branches: [ master ]

jobs:
  release:
    name: Release
    if: ${{ startsWith(github.event.head_commit.message, 'release') }}
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - id: get-version
        run: echo "::set-output name=version::$(echo ${{ github.head_ref }} | sed 's|prerelease/||')"
      - name: Use Node.js 18
        uses: actions/setup-node@v1
        with:
          node-version: 18.x
      - name: Install dependencies
        run: npm install --force
      - name: Set up Python 3.11
        uses: actions/setup-python@v1
        with:
          python-version: 3.11
      - name: Install Python dependencies
        run: python -m pip install dash[dev] flit invoke semver termcolor
      - name: Build the components
        run: |
          npm run build
          python setup.py sdist
      - uses: JS-DevTools/npm-publish@v1
        with:
          token: ${{ secrets.NPM_TOKEN }}
      - name: Publish to PyPI
        uses: pypa/gh-action-pypi-publish@master
        with:
          user: ${{ secrets.FLIT_USERNAME }}
          password: ${{ secrets.FLIT_PASSWORD }}
